# Python virtual environments
backend/back-django/backend/venv/
backend/back-django/backend/__pycache__/
backend/back-django/backend/backend/__pycache__/

# Python environment variables files
*.env

# Python bytecode files
*.pyc

# Node.js dependencies
frontend/node_modules/

# System files
.DS_Store
Thumbs.db

# Docker
**/docker-compose.override.yml
